@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6a5be2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  border-radius: 30px;
  border: 0;
  padding: 15px 30px;
  font-size: 20px;
  background-color: darken(#ff006e, 3%);
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}

h2 {
  margin-bottom: 0;
}

img {
  width: 150px;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;

  li {
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      border: 2px solid rgba(0, 0, 0, 0.3);
    }
  }
}

.result {
  text-align: center;

  button {
    font-weight: bold;
    margin-right: 10 px;
    font-family: "Nunito", sans-serif;
    border-radius: 30px;
    border: 0;
    padding: 15px 30px;
    font-size: 20px;
    background-color: darken(#ff006e, 3%);
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 599px) {
  .App {
    width: auto;
  }

  h2 {
    font-size: 16px;
  }
}
